
.outer {
    border: 5px solid purple;
    margin: 20px;
    width: 700px;
    height: 150px;
  }
  
  .box {
    padding: 48px;
    width: calc(97% - 75px); 
    background-color: #eeeeee;
    color: black;
  }

  ul {
    font-size: 100%;
    margin: 0px;
  }

  h1{
    border-bottom: dotted;
    border-width: 5px;
    border-color:#375e97;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #375e97;
  }

  h2 {
    font-size: 1.5em;
  }

  body{
    font-family:Arial, Helvetica, sans-serif;
  }

  b{
    color:#999999
  }

  a:visited {
    color: #82b8de;
    background-color: transparent;
  }
  a:hover {
    color:#2b99e6;
    background-color: transparent;
    text-decoration-line: none;
  }